* {
  all: unset;
  font-family: JetBrainsMono Nerd Font, monospace;
  font-size: 13px;
}

window {
  background-color: #12121A;
  color: #FCFAE2;
}

#input {
  margin: 4px;
  padding: 6px;
  border-radius: 6px;
  background-color: #3A3A42;
  color: #FCFAE2;
}

#inner-box, #outer-box, #scroll {
  margin: 0;
}

#entry {
  padding: 6px;
  margin: 0 4px;
  border-radius: 4px;
  background-color: transparent;
  color: #FCFAE2;
}

#entry:selected {
  background-color: #272107;
  color: #12121A;
}

#text {
  margin: 2px;
  color: inherit;
}

#img {
  margin: 2px;
  padding-left: 4px;
  border-radius: 4px;
}

#entry:active {
  background-color: #F5F2AB;
}

#entry.urgent {
  background-color: #717192;
}

